#color-palette {
  margin-left: 10px;
}

.color , .pixel {
  border: 1px solid black;
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  margin: 3px;
}

#pixel-board {
  text-align: center;
  border: 2px solid red;
  margin: 5px 10px;
  padding: 3px;
  width: 250px;
}

#clear-board {
  height: 20px;
  width: 60px;
  margin: 10px;
}

#button-random-color {
  height: 20px;
  width: 200px;
  margin: 10px;
}
